# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# MOC
headcount_autogen

# Executable
headcount

# Database
ContactList.db

# CSV Data
*.csv

# VS Code
.vscode/settings.json
